mixin bookTraining(files)
    - console.log(files)
    .d-flex.justify-content-between.mt-2.mx-4
        h3 Trainings
        //- a(href="/print_trainings" type="button").btn.btn-outline-primary List Trainngs
        //- a(href="/trainings" type="button").btn.btn-outline-success Manage Trainngs
        div(role="group" aria-label="Options" style="display: flex").btn-group
          a(href="/print_trainings" role="button").btn.btn-primary.btn-sm
              i.bi.bi-list-stars &nbspList Trainings
          a(href="/training" role="button").btn.btn-primary.btn-sm 
              i.bi.bi-kanban &nbspManage Trainings

    .book-container
        each booking, i in files
            - let btnLabel = booking.train_pax - booking.train_tot_session1 <= 0 ? "Fully Booked" : "Book Now"
            - let isFull = booking.train_pax - booking.train_tot_session1 <= 0 ? true : false
            - let isDummy1 = booking.train_title === 'dummy' ? true : false
            - let classHide1 = isDummy1 ? 'hide-item' : ''
            - let sessId = `sess1${i}`
            - let sessId2 = `sess2${i}`
            - let btnId = `btn${i}`
            - let iConId = `icon-${i}`
            div(class=`${classHide1}`)
                .booking.card.shadow.rounded 
                    .card-body 
                        h6.card-title-1.text-center.p-2#toptit #{booking.train_title.slice(0,26)}
                        h6.card-title.text-center #{moment(booking.train_date).format('DD-MMM-YYYY')}
                        p.card-text.text-center.text-black #{booking.train_session1}  = 
                            span(id=`${sessId}`) #{booking.train_pax - booking.train_tot_session1} available
                        if (booking.train_session2.length  >  0) 
                            p.card-text.text-center.text-black #{booking.train_session2}  = 
                                span(id=`${sessId2}`) #{booking.train_pax - booking.train_tot_session2}
                        else
                            p.card-text.text-center.text-black No 2nd session

                        p.card-text.text-center.text-black Venue: #{booking.train_venue}
                        p.card-text.text-center.text-black Available for: #{booking.train_avail}
                            
                    .card-footer.text-center.p-0 
                        form(action="/train/create" method="get")
                            input(type="hidden" name="data_train_date" value=`${moment(booking.train_date).format('DD-MMM-YYYY')}`)#data_train_date
                            input(type="hidden" name="data_train_id" value=`${booking._id}`)#data_train_id
                            input(type="hidden" name="data_train_pax" value=`${booking.train_pax}`)#data_train_pax 
                            input(type="hidden" name="data_train_title" value=`${booking.train_title}`)#data_train_title
                            input(type="hidden" name="data_train_session1" value=`${booking.train_session1}`)#data_train_session1 
                            input(type="hidden" name="data_train_session2" value=`${booking.train_session2}`)#data_train_session2 
                            input(type="hidden" name="data_train_venue" value=`${booking.train_venue}`)#data_train_venue
                            input(type="hidden" name="data_train_avail" value=`${booking.train_avail}`)#data_train_avail

                            .d-grid.gap-2 
                                if isFull
                                    button(type="submit" id=`${btnId}` disabled).btn
                                        i(id=`${iConId}`).bi.bi-calendar-check-fill.text-black &nbsp#{btnLabel}
                                else 
                                    button(type="submit" id=`${btnId}` enabled).btn
                                        i(id=`${iConId}`).bi.bi-calendar-check-fill.text-black &nbsp#{btnLabel}
    script(src="/javascripts/gagscripts.js")
    script. 
        const interval = 10000;  
        setInterval(loadTrainSked, interval);


   