extends includes/layout 

block nav-bar
    include includes/nav
    +navigation(userlevel)

block layout-content

    .container-fluid
        main.col-md-12.ms-sm-auto.col-lg-12
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                h3 Update Induction Booking
                h5 NodeSafe Web Booking System
                h5 Date: #{moment(booking_data.date_attend).format("DD-MM-YYYY")} / Session: #{booking_data.session_title}
                
            form(method='POST' action='/book_update' enctype="multipart/form-data")
                .form-group.required#bookform 
                      .row
                          .col-md-6.mb-3
                              label(for="company_supervisor").control-label Company responsible supervisor
                              input(type="text" id="company_supervisor" name="company_supervisor" value=`${booking_data.company_supervisor}` required minlength="3" pattern="^(?!\s*$).+").form-control
                          .col-md-6.mb-3
                              label(for="first_tier").control-label 1st Tier Subcontractor company engaging you/your company
                              input(type="text" name="first_tier"  value=`${booking_data.first_tier}` required minlength="3" pattern="^(?!\s*$).+").form-control#first_tier

                      .row
                          .col-md-6.mb-3
                              label(for="fcc").control-label  Company Supervisor Name
                              input(type="text" name="fcc_supervisor" value=`${booking_data.fcc_supervisor}` required minlength="3" pattern="^(?!\s*$).+").form-control#fcc
                          .col-md-6.mb-3
                              label(for="workpack").control-label  Workpack Number
                              .input-group.mb-3
                                  label(for="inputGroupSelect01").input-group-text Workpack
                                  select(name="workpack").form-select#inputGroupSelect01
                                      option(selected) #{booking_data.workpack}
                                      option(value="WP1 (B1-4 & L1-2)") WP1 (B1-4 & L1-2)
                                      option(value="WP2 (Spine & Laneway (L1-L6 & Roof)") WP2 (Spine & Laneway (L1-L6 & Roof)
                                      option(value="WP3 (L3, L4, L4M)") WP3 (L3, L4, L4M)
                                      option(value="WP4 (L5, L6 & Roof)") WP4 (L5, L6 & Roof
                                      option(value="WP5 (Horizon Hotel)") WP5 (Horizon Hotel)

                      .row
                          .col-md-6.mb-3
                              label(for="firstName").control-label First name
                              input(type="text" name="firstname" value=`${booking_data.firstname}` required minlength="3" pattern="^(?!\s*$).+").form-control#firstname
                      
                          .col-md-6.mb-3
                              label(for="lastName").control-label  Last name
                              input(type="text" name="lastname"  value=`${booking_data.lastname}` required minlength="3" pattern="^(?!\s*$).+").form-control#lastname

                      .row
                          .col-md-6.mb-3
                              label(for="phone").control-label  Phone
                              input(type="text" name="phone" value=`${booking_data.phone}` required minlength="3" pattern="^(?!\s*$).+").form-control#phone

                          .col-md-6.mb-3
                              label(for="company").control-label  Company
                              input(type="text" name="company" value=`${booking_data.company}` required minlength="3" pattern="^(?!\s*$).+").form-control#company

                      .row
                          .col-md-4.mb-3
                                label(for="sitesafe").control-label  Site Safe Number/Training Booking Number
                                input(type="text" name="sitesafe" value=`${booking_data.sitesafe}` required minlength="3" pattern="^(?!\s*$).+").form-control#sitesafe

                          .col-md-4.mb-3
                                label(for="expiry").control-label SS Expiry / SS Booking Date
                                input(type="date" name="expiry" value=`${moment(booking_data.expiry).format('YYYY-MM-DD')}` required).form-control#expiry

                          .col-md-4.mb-3
                                label(for="constructsafe").control-label Constructsafe No.
                                input(type="text" name="constructsafe" value=`${booking_data.constructsafe}`).form-control#constructsafe

                      .row
                          .col-md-5.mb-3
                                label(for="ss_photo").control-label Site Safe Photo/Training Booking Screenshot
                                input(type="file" accept="image/*" name="ss_photo" value=`${booking_data.ss_photo_filename}` onchange="ssFname()").form-control#ss_photo

                          .col-md-1.mb-3
                                .imagePreview#ss_photo1
                                    img(src=`/image/${booking_data.ss_photo_filename}` alt="sitesafe photo").imagePreview

                          .col-md-5.mb-3
                                label(for="headshot").control-label  Headshot
                                input(type="file" accept="image/*" name="headshot" value=`${booking_data.headshot}` onchange="hsFname()").form-control#headshot
                          .col-md-1.mb-3
                                .imagePreview#headshot1
                                    img(src=`/image/${booking_data.headshot}` alt="headshot photo").imagePreview
                      .row
                          .col-md-6.mb-3
                                label(for="emergency_person").control-label Emergency contact person
                                input(type="text" name="emergency_person" value=`${booking_data.emergency_person}` pattern="^(?!\s*$).+").form-control#emergency_person

                          .col-md-6.mb-3
                                label(for="emergency_phone").control-label Emergency contact number
                                input(type="text" name="emergency_phone" value=`${booking_data.emergency_phone}` required minlength="3" pattern="^(?!\s*$).+").form-control#emergency_phone

                                input(type="hidden" name="data_date" value=`${booking_data.date_attend}`)#data_date
                                input(type="hidden" name="data_sked" value=`${booking_data.session}`)#data_sked
                                input(type="hidden" name="booking_id" value=`${booking_data._id}`)#booking_id
                                input(type="hidden" name="orig_ss" value=`${booking_data.ss_photo_filename}`)#orig_ss
                                input(type="hidden" name="orig_hs" value=`${booking_data.headshot}`)#orig_hs
      

                      p.text-danger.fst-italic * = mandatory fields
                      p.text-danger You must provide a Site Safe (or approved alternative) at the reception before your induction. If you hold an expired Site Safe Card you must provide evidence of a booking with site safe for a refresher course that will occur within 30 days of the induction you are booked on. Note: If you have no previous Site Safe training or training in risk management from an approved provider, you will not be permitted entry to the induction and you will have NO ACCESS to Site.
                      button(type="submit").btn.btn-primary.btn-sm.mx-2#btn_submit Submit
                      a(href=`javascript:history.go(-1)`).btn.btn-danger.btn-sm#cancel Cancel
